[Unit]
Description = OpenStack Senlin Service Engine

[Service]
ExecStart = /usr/local/bin/senlin-engine
User = senlin

[Install]
WantedBy = multi-user.target
